footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;

  & div {
    align-items: center;
    display: flex;
    gap: 10px;
    & i {
      font-size: xx-large;
    }
  }
}
