#our-work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .card {
    width: 500px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
    transition: all 0.5s;

    & img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      overflow: hidden;
    }
    h3 {
      padding: 5px 10px;
    }
    p {
      padding: 20px;
    }
  }
  .card:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1060px) {
  #our-work .card {
    width: 48%;
  }
}

@media screen and (max-width: 550px) {
  #our-work .card {
    width: 900%;
  }
}
